html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: 'Lalezar', cursive;
}

h2 {
  font-family: 'Noto Naskh Arabic', serif;
}

p, small {
  font-family: 'Markazi Text', serif;
}

ul {
  list-style-type: none;
}

small {
  color: #1a4203;
}

* {
  box-sizing: border-box;
}
