.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #040460;
  font-size: 1.5rem;
  text-align: center;
  background-color: azure;
}


.title {
  color: #040460;
  margin: 1rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: azure;
  color: #040460;
  padding: 0 1rem 0 0;
}

.grid,
.vimeo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 800px;
  margin-top: 2rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: end;
  color: inherit;
  text-decoration: none;
  border: 1px solid #040460;
  border-radius: 10px;
  transition: color 0.3s ease, border-color, background-color 0.5s ease;
  width: 70%;
}

.card:hover,
.card:focus,
.card:active {
  color: #040460;
  background-color: azure;
  border-color: azure;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card small {
  margin: 0;
  line-height: 1.5;
}

.RTL {
  text-align: center;
  direction: rtl;
}

.CTR {
  text-align: end !important;
  direction: rtl;
}

@media (max-width: 600px) {

  .grid {
    width: 100%;
    flex-direction: column;
  }
}
